body {
  margin: 0;
  padding: 0;
}

.map-container {
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .car-icon {
    background-size: 24px 24px;
    background-image: image-url('car.png');
    background-repeat: no-repeat;
    background-position: right 25px bottom 8px;
  }

  .character-icon {
    background-size: 24px 24px;
    background-image: image-url('character.png');
    background-repeat: no-repeat;
    background-position: right 25px bottom 8px;

    progress {
      width: 24px;
      padding-bottom: 0px;
    }
  }

  .zombie-icon {
    background-size: 24px 24px;
    background-image: image-url('zombie.png');
    background-repeat: no-repeat;
    background-position: right 25px bottom 8px;

    progress {
      width: 24px;
      padding-bottom: 0px;
    }
  }
}
