.sidebar {
  position: absolute;
  right: 0px;
  width: 300px;
  top: 35px;
  bottom: 0px;
  z-index: 15;
  border-left: 2px solid gray;
  background-color: white;
  padding: 10px;

  .key {
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 0.8em;
    font-weight: bold;
  }

  .value {
    margin-bottom: 10px;
  }

  .skill {
    .skill-key {
      display: inline-block;
      width: 25%;
    }

    .skill-value {
      width: 70%;
    }
  }
}
