$header-bg: rgba(0, 0, 0, 0.75);
$resources: #fff;
$header-links: #fff;

.header {
  background-color: $header-bg;
  color: $resources;
  height: 30px;
  padding: 5px;

  .resources {
    float: left;
  }

  .user-actions {
    float: right;
  }

  a {
    color: $header-links;
  }
}

.resource {
  display: inline-block;
  i {
    width: 32px;
    height: 32px;
    background: url('character.png') 0 0;
  }
}

.food {
  background-color: #F00;
}

.water {
  background-color: #F00;
}

.health {
  background-color: #F00;
  // background: url('zombie_icons.png')
}
