$header-bg: rgba(0, 0, 0, 0.75);
$resources: #fff;
$header-links: #fff;

.header {
  background-color: $header-bg;
  color: $resources;
  height: 30px;
  padding: 5px;

  .resources {
    float: left;
  }

  .user-actions {
    float: right;
  }

  a {
    color: $header-links;
  }
}

.food,
.water,
.health {
  display: inline-block;

  img {
    height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    width: 32px;
  }

  span {
    line-height: 32px;
    vertical-align: bottom;
  }

  .key {
    padding-right: 2px;
  }
}
